<h1>Zip</h1>
<div class="row">
  <div class="col">
    <app-show-observable
      title="1st Observable"
      color="red"
      [observableInput]="sourceObservable$"
    ></app-show-observable>
  </div>
  <div class="col">
    <app-show-observable
      title="2nd Observable"
      color="green"
      [observableInput]="sourceObservable2$"
    ></app-show-observable>
  </div>
  <div class="col">
    <app-show-observable
      title="New Observable"
      color="blue"
      [observableInput]="newObservable$"
    ></app-show-observable>
  </div>
</div>
