span {
  font-size: 18px;
}

.marble {
  border-radius: 30px;
  display: inline-block;
  color: white;
  width: 30px;
  text-align: center;
  font-size: 20px;
  position: absolute;
}

.marble:hover {
  z-index: 1;
  border: solid 1px black;
  transform: scale(1.5);
}

.array-div {
  top: 75px;
}
