$font-size: 20px;

span {
  font-size: $font-size;
}

.marble {
  border-radius: 30px;
  display: inline-block;
  color: white;
  width: 30px;
  text-align: center;
  font-size: $font-size;
  position: absolute;
  //   z-index: 1;
}

.marble:hover {
  z-index: 1;
  border: 3px black;
}

.array-div {
  top: 60px;
}
