<h2>CatchError and Error Management</h2>

<div class="row">
  <div class="col">
    <app-show-obs-marbles
      title="Source observable throws after 3rd value"
      color="red"
      [observableInput]="sourceObservable$"
    ></app-show-obs-marbles>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-show-obs-marbles
      title="Observable with catchError that return new Observable when catches"
      color="green"
      [observableInput]="newObservable$"
    ></app-show-obs-marbles>
  </div>
</div>
<div class="row">
  <div class="col">
    <p *ngFor="let o of output">{{ o }}</p>
  </div>
</div>
